@import "tailwindcss";

@layer base {
  /* h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  } */
}
@layer components {

   
}

@theme {
  --nav-shadow: 0 4px 10px rgb(119 119 119 / 15%);
  --them-color: #007aff;
  --text-color: #1B1A2E;
  --primary-color : #01305C ; 
  --border-color :  #CEE4FD ;
  
  
 
}
@font-face {
  font-family: circular;
  src: url(../fonts/circular-std-medium-500.ttf);
}
body{
  font-family: circular;
  
}